/* Comune */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
/* header */
header{
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: black;
}

.prova{
    margin-top: 0;
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    background-color: rgb(98, 98, 98);
    width: 10%;
    
}
/* main */
main{
    background-color: rgb(10, 9, 9);
}
.main{
    background-color: rgb(0, 0, 0);
    height: 86vh;
    margin-left: 5%;
    margin-right: 5%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.card{
    
    height: 20vh;
    width: 30vh;
    margin: 1%;
    background-image: url(https://picsum.photos/200/300?grayscale);
    background-position: center;
    display: flex;
    justify-content: start;
    align-items:end;

}
.badge{
    height: 1.3rem;
    background-color: rgb(89, 89, 89);
    width: 40%;
    text-align: center; 
    color: aliceblue;
    
    
}

/* footer */
footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 9vh;
    width:100% ;
    background-color: rgb(53, 53, 53);
}
.footeruno{
    display: flex;
    flex-direction: row;
    width: 10%;
    height: 9vh;
   
}
.f1{
    width: 50%;
    height: 9vh;
    border-style: dotted ;
}
.footerdue{
    display: flex;
    flex-direction: row;
    width: 40%;
    height: 9vh;
   
}
.footertre{
    display: flex;
    
    width: 8%;
    height: 9vh;
    border-style: dotted ;
   
}

