/* Comune */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
/* header */
header{
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: black;
}

.prova{
    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
    background-color: rgb(255, 255, 255);
    width: 10%;
    
}
/* main */
main{
    background-color: rgb(10, 9, 9);
}
.main{
    background-color: rgb(0, 0, 0);
    height: 85vh;
    margin-left: 5%;
    margin-right: 5%;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.card{
    
    height: 20vh;
    width: 30vh;
    margin: 1%;
    background-image: url(https://picsum.photos/200/300?grayscale);
    background-position: center;
    display: flex;
    justify-content: start;
    align-items:end;

}
.badge{
    height: 1.3rem;
    background-color: rgb(89, 89, 89);
    width: 40%;
    text-align: center; 
    color: aliceblue;
    
    
}

/* footer */
footer{
    height: 9vh;
    width:100% ;
    background-color: rgb(53, 53, 53);
}
